@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

:root {
    --bgcolor : #1C1C1C;
    --accentcolor : #0000FF;
}

body {
    background-color: var(--bgcolor);
}

.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 200px;
    margin-top: 40px auto;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.linktree img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.linktree h1 {
    font-size: 2.2rem;
}

.linktree a {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px var(--accentcolor);
}

.linktree a:hover {
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

@media (min-width: 1024px) { .linktree {
    width: 40vw;
}
}
